<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        dolorem debitis et cum quae. Ab, dignissimos non! At repudiandae ea
        porro impedit, soluta ullam corrupti delectus vel. Doloribus, beatae
        numquam.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fas fa-envelope"></i> email@.com.br</li>
        <li><i class="fas fa-phone"></i> (00) 0000-0000</li>
        <li><i class="fab fa-whatsapp"></i> (00) 0000-0000</li>
      </ul>
    </address>
  </div>
</footer>
