<h2 class="cart-title">Carrinho</h2>
<div *ngIf="itemProdutos.length > 0; else semProduto">
  <ul>
    <li *ngFor="let produto of itemProdutos">
      <img [src]="produto.imagem" alt="" />
      <p>{{ produto.descricao }}</p>
      <p>{{ produto.preco | currency : "BRL" }}</p>
      <label>
        Quantidade
        <input type="number" [(ngModel)]="quantidade" (ngModelChange)="getValorTotal()"/>
      </label>
      <button class="remove-button" (click)="removerItens(produto.id)"><i class="fas fa-times"></i></button>
    </li>
  </ul>
  <h2 class="cart-total">Total: {{ getValorTotal() | currency : "BRL" }}</h2>
  <button class="buy-button" (click)="finalizarCompra()">Comprar</button>
</div>

<ng-template #semProduto>Nenhum produto encontrado</ng-template>
